body {
  font-family: 'Arial', sans-serif;
  direction: rtl;
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px;
}

h2 {
  color: #333;
}

form {
  background: #fff;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: right;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
   
  padding: 10px 20px;
  background-color: #1552a8;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}
